body{

font-family: Arial;

margin:0;

background:#f4f4f4;

}



header{

background:#222;

color:white;

padding:20px;

text-align:center;

}



nav{

background:#444;

padding:10px;

text-align:center;

}



nav a{

color:white;

margin:10px;

text-decoration:none;

font-size:18px;

}



section{

padding:20px;

margin:20px;

background:white;

border-radius:10px;

}



h2{

color:#333;

}
