*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
padding:20px 80px;
background:#020617;
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
}

.hero-text{
max-width:520px;
line-height:1.6;
display:flex;
flex-direction:column;
gap:18px;
}

.hero h1{
font-size:42px;
margin-bottom:10px;
}

.hero span{
color:#38bdf8;
}

.hero-img{
width:220px;
border-radius:50%;
border:5px solid #38bdf8;
}

/* BUTTONS */

.btn{
background:#38bdf8;
padding:10px 20px;
border-radius:8px;
text-decoration:none;
color:white;
margin-right:10px;
margin-top:10px;
display:inline-block;
}

.buttons{
margin-top:10px;
}

.outline{
background:transparent;
border:2px solid #38bdf8;
}

/* SECTIONS */

section{
max-width:900px;
margin:80px auto;
padding:20px;
}

/* SKILLS */

.skills span{
background:#1e293b;
padding:10px 15px;
margin:5px;
border-radius:8px;
display:inline-block;
}

/* PROJECTS */

.projects{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
flex:1;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}
